<!--
  ~ Copyright (c) 2020 Ubique Innovation AG <https://www.ubique.ch>
  ~
  ~ This Source Code Form is subject to the terms of the Mozilla Public
  ~ License, v. 2.0. If a copy of the MPL was not distributed with this
  ~ file, You can obtain one at https://mozilla.org/MPL/2.0/.
  ~
  ~ SPDX-License-Identifier: MPL-2.0
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.dpppt.android.sdk">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

	<uses-feature
		android:name="android.hardware.bluetooth"
		android:required="true" />
	<uses-feature
		android:name="android.hardware.bluetooth_le"
		android:required="true" />

	<application android:fullBackupContent="@xml/dp3t_sdk_backup_rules">

		<receiver
			android:name="org.dpppt.android.sdk.internal.nearby.ExposureNotificationBroadcastReceiver"
			android:permission="com.google.android.gms.nearby.exposurenotification.EXPOSURE_CALLBACK"
			android:exported="true">
			<intent-filter>
				<action android:name="com.google.android.gms.exposurenotification.ACTION_EXPOSURE_STATE_UPDATED" />
				<action android:name="com.google.android.gms.exposurenotification.ACTION_REQUEST_DIAGNOSIS_KEYS" />
			</intent-filter>
		</receiver>

		<receiver
			android:name="org.dpppt.android.sdk.internal.BluetoothStateBroadcastReceiver"
			android:exported="true">
			<intent-filter>
				<action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
			</intent-filter>
		</receiver>

		<receiver
			android:name="org.dpppt.android.sdk.internal.LocationServiceBroadcastReceiver"
			android:exported="true">
			<intent-filter>
				<action android:name="android.location.MODE_CHANGED" />
			</intent-filter>
		</receiver>

		<receiver
			android:name="org.dpppt.android.sdk.internal.TracingErrorsBroadcastReceiver"
			android:exported="false">
			<intent-filter>
				<action android:name="org.dpppt.android.sdk.ACTION_UPDATE_ERRORS" />
			</intent-filter>
		</receiver>

	</application>

</manifest>
